$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0, 0, 0, 0.7);
$font-size: 30px;

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $bg-color;
  color: $font-color;
}

.bg-dark {
  background-color: $dark-overlay !important;
}

.bg-primary {
  background-color: $primary-color !important;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 3%);
    border-color: darken($primary-color, 3%);
  }

  &:active {
    background-color: darken($primary-color, 7%) !important;
    border-color: darken($primary-color, 7%) !important;
  }
}

.navbar {
  .navbar-brand {
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 30px;
  }

  .nav-link {
    color: $font-color !important;
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  border-bottom: $primary-color 3px solid;
}

#home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

#home-section {
  background-size: cover;
  min-height: 759px;
  background-image: url("../img/hero.jpeg");
  background-position: center;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }

  .card-form {
    opacity: 0.9;
  }

  .fa-square {
    color: #fff;
  }

  .fa-check {
    color: $primary-color;
  }
}

#find-section,
#share-section {
  .fa-square {
    color: $bg-color;
  }

  .fa-check {
    color: #fff;
  }
}

#create-section {
  .fa-square {
    color: #fff;
  }

  .fa-check {
    color: $primary-color;
  }
}

#find-head-section,
#create-head-section,
#share-head-section,
#find-section,
#create-section,
#share-section,
#main-footer {
  h1,
  h3 {
    font-variant: small-caps;
  }
}
